<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Update a Pet</title>
        <link rel="stylesheet" type="text/css" href="../../public/css/main.css">
        <link rel="stylesheet" type="text/css" href="../../public/css/reset.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
            crossorigin="anonymous">
    </head>
    
    <body>
        <h1>Adopt Your Next Best Friend</h1>
        <ul>
            <li><a href="/home">Profile</a></li>
            <li><a href="/buyPet">Browse Pets for Adoption</a></li>
            <li><a href="/newPet">Enroll a New Pet</a></li>
            <li><a href="/logout">Logout?</a></li>
        </ul>
        
        <main class="container">
            <div class="row col-md-12 input-section">
                <h2>Adopt</h2>
                <p>* indicates a required field</p>
                <p>{{errors}}</p>
                <form action="/pets/adoption" method="post">
                    <div>
                        <label>Who Would You Like to Adopt?</label>
                        <input type="text" name="petName" /> *
                    </div>
                    <div>
                        <input type="submit" value="Adopt" />
                    </div>
                </form>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    </body>
</html>