<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Create an Account</title>
        <link rel="stylesheet" type="text/css" href="../../public/css/main.css">
        <link rel="stylesheet" type="text/css" href="../../public/css/reset.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
            crossorigin="anonymous">
    </head>

    <body>
	<div class="jumbotron" id="top-header">
		<h1 id="main-title">JAMMZ Pet Adoption Site</h1>
		<p>Where life-long friendships are formed</p>
	</div>
        <ul>
            <li><a href="/home">Profile</a></li>
            <li><a href="/buyPet">Browse Pets for Adoption</a></li>
            <li><a href="/newPet">Enroll a New Pet</a></li>
            <li><a href="/logout">Logout?</a></li>

        </ul>
        <main class="container">
            <div class="row col-md-12 input_section">
                <h2>Create New User</h2>
                <p>{{errors}}</p>
                <form action="/newuser" method="post" class="form-horizontal">
					
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Username:</label>
						<div class="col-sm-10">
                        	<input type="text" name="username" class="form-control" placeholder="Username" pattern="[^\s]+"/>
                    	</div>
					</div>
					
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password:</label>
						<div class="col-sm-10">
                        	<input type="password" name="password" placeholder="Password" class="form-control"/>
                    	</div>
					</div>
					
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name:</label>
						<div class="col-sm-10">
                        	<input type="text" name="name" class="form-control" placeholder="Your Name" pattern="[^\s]+"/>
						</div>
                    </div>
					
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Age:</label>
						<div class="col-sm-10">
                        	<input type="text" name="age" placeholder="Your Age" class="form-control"/>
						</div>
                    </div>
					
                    <div class="col-sm-2">
                        <input type="submit" value="Create" class="btn-lg btn-block btn-primary"/>
                    </div>
                </form>
            </div>
        </main>
		<footer class="footer">Created with puppy love by JAMMZ | Copyright © 2017 JAAMZ. All Rights Reserved.</footer>

        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    </body>

</html>