/* CSS File for general site styling */



body {
	padding: 25px !important;
	margin: 25px !important;
	background-color: #A2AB58 !important;
}

main {
	padding:20px;
}

#errors {
	color:red;
}
/*.input_section{
    padding-left: 40% !important;
}*/

#top-header {
	text-align: center;
}

#top-header p {
	font-style: italic;
	font-size: 30px;
	margin: 0% 20% 0% 20%;
	background: rgba(204, 204, 204, 0.8) !important;
}

#top-header h1 {
	color:black;
	background: rgba(204, 204, 204, 0.8) !important;
	margin: 2% 20% 0% 20%;
}


form div{
    padding: 20px 0px 0px 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4A96AD;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
}

li a:hover {
    background-color: #7D1935;
	color:white;
}

h3 {
	text-decoration: underline;
}

.user_specs {
	background: rgba(204, 204, 204, 0.8) !important;
	padding: 20px;
	width: 50%;
	
}

.pet_display_info {
	padding: 15px;
}

p span{
    font-size: 15px;
    font-weight: bold;
}

.jumbotron {
	background-image: url(../../public/css/variouspets.png);*/
	background-repeat: no-repeat;
	width:100%;
	background-color: white !important;
	color:black;
}

.btn {
	background-color: #4A96AD !important;
}

#cent-but  {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.footer {
  position:fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #7D1935;
  text-align: center;
	color:white;
}

